#company {margin-top: 0%;
    width: 15%;
    padding: 3px;
    margin-left: 4%;
    border: 1px solid black;
}
#model {
    margin: 3px;
    width: 15%;
    padding: 3px;
    margin-left: 5.5%;
    border: 1px solid black;
}
#memory, #price {
    margin: 3px;
    width: 15%;
    padding: 3px;
    margin-left: 2%;
    border: 1px solid black;
}
#quantity {
    margin: 3px;
    /* margin-left: 0%; */
    width: 15%;
    padding: 3px;
    margin-left: 4.3%;
    border: 1px solid black;
}

.container {
    margin-left: 5%;
    margin-top: 2%;
    
}
#Button {
    border: 2px solid black;
    margin-left: 14.3%;
}
 table {
    width: 50%;
    margin-left: 12%; 
     margin-top: 1%;
     /* padding-bottom: 32%;  */
     /* background-color: red; */
     /* border: 1px solid black; */
 }

td {
    text-align: center;
} 
/* #quantity {
    margin-left: 0%;
} */

#deleteSelected {
    margin-left: 60%;
}